In [10]:
from load_data import load_data
from black_scholes import BlackScholes
import pandas as pd

In [28]:
R=0.02
T=float(input("Maturity (y):"))

'''tickers = {
    "ASML": "ASML.AS", "SAP": "SAP.DE", "NVIDIA": "NVDA", "META": "META", "QUALCOMM": "QCOM",
    "TSMC": "TSM", "Infosys": "INFY", "BAE Systems": "BA.L", "Rheinmetall": "RHM.DE",
    "Lockheed Martin": "LMT", "Northrop Grumman": "NOC", "L3Harris Technologies": "LHX",
    "Novo Nordisk": "NVO", "Roche": "ROG.SW", "Eli Lilly": "LLY", "AbbVie": "ABBV",
    "Samsung Biologics": "207940.KQ", "SUN PHARMA": "SUNPHARMA.NS", "BNP Paribas": "BNP.PA",
    "Amundi": "AMUN.PA", "JPMorgan Chase": "JPM", "BlackRock": "BLK", "Morgan Stanley": "MS",
    "DBS Group Holdings": "D05.SI", "HDFC AM": "HDFCAMC.NS", "Allianz": "ALV.DE",
    "Zurich Insurance Group": "ZURN.SW", "Berkshire Hathaway": "BRK-B", "UnitedHealth": "UNH",
    "LIC India": "LICI.NS", "Visa": "V", "MasterCard": "MA", "Ryanair": "RYAAY",
    "Lufthansa": "LHA.DE", "Delta Airlines": "DAL", "United Airlines": "UAL", "Ferrari": "RACE",
    "Richemont": "CFR.SW", "Hilton Worldwide": "HLT", "Domino's Pizza": "DPZ", "BYD": "1211.HK",
    "TotalEnergies": "TTE", "Shell": "SHEL", "Exxon": "XOM", "Cheniere Energy": "LNG",
    "Nestlé": "NESN.SW", "BAT": "BATS.L", "Coca": "KO", "P&G": "PG", "Telefonica": "TEF",
    "T-Mobile US": "TMUS", "China Telecom": "0728.HK", "Singapore Telecom": "Z74.SI",
    "Schneider Electric": "SU.PA", "Equinix": "EQIX", "American Tower": "AMT", "Iberdrola": "IBE.MC",
    "Airbus": "AIR.PA",
}'''
tickers = ['AAPL']
#tickers = {'AAPL', 'MSFT', 'GOOGL'}
start_date = None

In [29]:
price_df, vol, latest_price, stocks = load_data(tickers, start_date)

stocks

  Stock  Latest Price (€)  Annualized Volatility (%)
0  AAPL            211.26                      44.12

# Plusieurs actions

In [30]:
stock_inputs = [
    {'Stock': ticker, 'S': latest_price[ticker], 'K': latest_price[ticker]*1.05, 'sigma': vol[ticker]}
    for ticker in tickers
]

option_prices_df, greeks_df = BlackScholes.batch_compute(stock_inputs, R, T, option='BOTH')

In [31]:
greeks_df

   Greek       Call        Put Stock
0  Delta   0.512618   0.487382  AAPL
1  Gamma   0.006050   0.006050  AAPL
2  Theta -27.990093 -23.597777  AAPL
3   Vega  59.565532  59.565532  AAPL
4    Rho  42.782787 -67.025122  AAPL

In [32]:
option_prices_df

  Stock  Spot (€)  Strike (€)  Call Price (€)  Put Price (€)
0  AAPL    211.26      221.82         22.7301         31.086

# Une seule action

In [33]:
S = latest_price
K=S*1.05
sigma=vol

bs=BlackScholes(S,K,R,T,sigma)

c:\Users\louis\Desktop\Python Perso\Portfolio\Louis\black_scholes.py:8: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  self.S=float(S)
c:\Users\louis\Desktop\Python Perso\Portfolio\Louis\black_scholes.py:9: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  self.K=float(K)
c:\Users\louis\Desktop\Python Perso\Portfolio\Louis\black_scholes.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  self.sigma=float(sigma)

In [36]:
print(f"Spot : {bs.S:.2f}€")
print(f"Price : {bs.black_scholes():.2f}€")
print(f"Strike : {bs.K:.2f}€")
bs.black_scholes_greeks()

Spot : 211.26€
Price : 22.73€
Strike : 221.82€

   Greek      Value
0  delta   0.512618
1  gamma   0.006050
2  theta -27.990093
3   vega  59.565532
4    rho  42.782787